@tailwind base;
@tailwind components;
@tailwind utilities;

/* bold */ /*
@font-face {
    font-family: 'Baloo 2 Bold';
    src: url('../fonts/Baloo2-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2 Bold Fallback';
    src: local(Arial Black);
    size-adjust: 81%;
    ascent-override: 129%;
    descent-override: 61%;
    line-gap-override: 5%;
}
*/

/* normal */
@font-face {
    font-family: 'Baloo 2 Default';
    src: url('../fonts/Baloo2-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Default Fallback';
    src: local(Verdana);
    size-adjust: 86%;
    ascent-override: 120%;
    descent-override: 57%;
    line-gap-override: 8%;
}

/* semi-bold */
@font-face {
    font-family: 'Baloo 2 SemiBold';
    src: url('../fonts/Baloo2-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 SemiBold Fallback';
    src: local(Verdana);
    size-adjust: 88%;
    ascent-override: 120%;
    descent-override: 55%;
    line-gap-override: 5%;
}

/* medium */
@font-face {
    font-family: 'Baloo 2 Medium';
    src: url('../fonts/Baloo2-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Medium Fallback';
    src: local(Verdana);
    size-adjust: 87%;
    ascent-override: 120%;
    descent-override: 55%;
    line-gap-override: 8%;
}

/* extra-bold */
@font-face {
    font-family: 'Baloo 2 Boldest';
    src: url('../fonts/Baloo2-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/*noinspection CssUnknownProperty*/
@font-face {
    font-family: 'Baloo 2 Boldest Fallback';
    src: local(Arial Black);
    size-adjust: 82%;
    ascent-override: 129%;
    descent-override: 58%;
    line-gap-override: 5%;
}


/*--------------------Default page setup-------------------------*/

:root {
    --win-dark: #393939;
    --win-border: #5e5e5e;
    --win-selected: #282828;

    --white-text: #eeeeee;
    --grey-text: #959595;
    --dark-text: #333333;

    --lgbt-text: #eeeeee;
    --lgbt-bg: #333333;

    --lgbt-cal: #2E2E2EFF;
    --lgbt-cal-item: #2d2d2d;

    /*
    --lgbt-text: #333333;
    --lgbt-bg: #eeeeee;
    /**/

    --lgbt-red: #eb3b42;
    --lgbt-orange: #ff9101;
    --lgbt-yellow: #fecb1c;
    --lgbt-green: #60c774;
    --lgbt-blue: #02aeda;
    --lgbt-purple: #5d5ccc;

    --alt-green: #01df4f;
    --alt-blue: #34c2fc;
    --alt-pink: #ffb6ca;
    --alt-pink2: #ed80e2;
    --alt-purple: #be3cad;
}

* {
    box-sizing:border-box;
}
body {
    background-color: var(--lgbt-bg);
    cursor:default;
    color: var(--lgbt-text);
    width:100%;
    height:100%;
    display:table;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.page_wrap {
    width:100%;
    display:table-cell;
    position:relative;
    height:100vh
}
body,
.page_wrap {
    margin:0;
    padding:0
}
.main {
    /* margin: 5rem 0 6rem 0; /*Space for header & footer, top - bottom - */ /* 5rem 0 6rem 0 */
    padding: 5rem 0 3.9rem 0;
}
.main_home {
    padding: 0 0 3.9rem 0;
}

/*----------------------------Header--------------------------------*/

/*noinspection CssInvalidPropertyValue*/
header {
    width:-webkit-fill-available;
    width:-moz-available;
    max-height: 5rem;
    min-height: 2.8rem;
    display:flex;
    position:fixed;
    justify-content:space-between;
    padding: clamp(0.1rem, 2vh, 1rem) 2rem;
    z-index: 99998; /* above everything */
    background-color: transparent;
    align-items: center;
}
/* blur everything behind the header with a backdrop filter with gradient opacity */
header::after {
    content: "";
    background: linear-gradient(180deg, #3333334a 40%, transparent 100%);
    position: fixed;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 25vh;
    max-height: 9rem;
    mask: linear-gradient(180deg, black 70%, transparent 100%);
    backdrop-filter: blur(.5rem);
    z-index: -9;
    pointer-events: none;
}

/*--------------Gray BG Wave---------------*/
.cont_logo_nav {
    display: flex;
    gap: 2rem;
    position: relative;
}

.cont_logo_nav:before,
.cont_logo_nav:after {
    content: "";
    position: absolute;
    left: -15rem;
    width: 49rem;
    min-height: 22.5rem;
    height: 86vh;
    max-height: 24rem;
}

.cont_logo_nav:before {
    top: -18.7rem;
    background-color: var(--lgbt-bg);
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 14" preserveAspectRatio="none"%3E%3Cpath d="M0,12L0,0L70.438,0L70.438,9.394C64.062,9.74 61.996,10.822 55,12C40.77,14.396 21.5,13.771 0,12Z" style="fill-rule:nonzero;"/%3E%3C/svg%3E');
    mask-size: 100% 100%;
    z-index: -1;
}

/* shadow effect around before element */
.cont_logo_nav::after {
    top: -18.4rem;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 14" preserveAspectRatio="none"%3E%3Cpath d="M0,12L0,0L70.438,0L70.438,9.394C64.062,9.74 61.996,10.822 55,12C40.77,14.396 21.5,13.771 0,12Z" style="fill-rule:nonzero;"/%3E%3C/svg%3E');
    z-index: -2;
    filter: blur(1rem);
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    opacity: 0.3;
}

/*--------------Navbar---------------*/
.nav-top {
    align-self: center;
    order: 2;
}
.nav_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: max-content;
    margin: 0;
    padding: 0;
}
.navbar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    color: var(--lgbt-text);
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.02em;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: clamp(.9rem, 4vh, 1.1rem);
    transition: 0.2s;
}
.nav-top a:hover,
.nav-top a:focus-within {
    color: var(--lgbt-orange);
    text-shadow: var(--lgbt-orange) 0 0 1px;
    transition: 0.2s;
}
.navbar a.active {
    background: var(--alt-blue);
    color: var(--lgbt-bg);
    /* text-shadow: 0 0 2px;*/
    border-radius: 2rem;
}

.navbar a.active:hover {
    color: var(--lgbt-bg);
    text-shadow: none;
    transition: 0.2s;
}

.logo-header {
    align-self: center;
    order: 1;
    cursor: pointer;
}

/*--------------Logo---------------*/
.logo {
    height: 8vh;
    min-height: 2.3rem;
    max-height: 3rem;
    width: auto;
    max-width: 3rem;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.4s;
}

.logo-header > a:hover > .logo,
.logo-header > a:focus-within > .logo {
    transform: scale(1.2);
}

/*--------------Language Switcher---------------*/
.cont_lang {
    background-color: var(--lgbt-bg);
    border-radius: 2rem;
    padding: .4rem .5rem;
    position: absolute;
    right: 2rem;
    top: clamp(0.1rem, 2vh, 1rem);
    z-index: 99999; /* above everything */
}
.cont_lang::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
    z-index: -2;
}

.lang_selection {
    display: flex;
    flex-direction: row;
    gap: .8rem;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lang_option * {
    color: var(--lgbt-text);
    text-decoration: none;
    font-family: 'Baloo 2 Medium', 'Baloo 2 Medium Fallback', sans-serif;
    font-size: clamp(.9rem, 4vh, 1.1rem);
    line-height: 1.1rem;;
    padding: .5rem .7rem;
    border-radius: 2rem;
    display: block;
    transition: 0.2s;
}

.lang_option a {
    cursor: pointer;
}

.lang_option *:hover,
.lang_option *:focus-within {
    background-color: var(--win-selected);
    transition: 0.2s;
}

.lang_option .active {
    outline: var(--lgbt-orange) .15rem solid;
}
